@{
    ViewBag.Title = "Login";
    Layout = null ;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V17</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/Loginimages/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/bootstrap/~/Content/Logincss/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Loginfonts/font-awesome-4.7.0/~/Content/Logincss/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Loginfonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/animsition/~/Content/Logincss/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Loginvendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Logincss/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Logincss/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-34">
                        ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ
                    </span>
                    <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name" style="height:50px">
                            <input class="input100" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password" style="height:50px">
                            <input class="input100" type="password" name="password" placeholder="Password">
                        </div>
                        <button class="login100-form-btn" type="submit">Sign in</button>
                    }
                </form>
                <div class="login100-more"><img src="~/Images/bg-01.jpg" style="float:left" width="585" height="837" /></div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Loginvendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Loginvendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Loginvendor/bootstrap/js/popper.js"></script>
    <script src="~/Loginvendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Loginvendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Loginvendor/daterangepicker/moment.min.js"></script>
    <script src="~/Loginvendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Loginvendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Loginjs/main.js"></script>

</body>
</html>

