@*<a href="@Url.Action("Giohang","Giohang")" text-decoration:none>
    <img src="~/images/90865378-biểu-tượng-giỏ-hàng-mua-sắm-vector.jpg" width="40" height="30" />
</a>*@
<a href="@Url.Action("GioHang", "GioHang")"><i class="fa fa-shopping-cart fa-2x" style="text-align:center">(@ViewBag.TongSL)</i></a>