@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutStandar.cshtml";
}

<h2>Đơn hàng của quý khách đã được tiếp nhận. Cảm ơn quý khách đã đặt hàng tại NoobStore</h2>
<p>
    @Html.ActionLink("Trang chủ", "Index", "Home")
</p>

